{% extends "_layouts/default.njk" %}
{% block body %}
  <div class="content">
    <strong>Seus horarios</strong>

    <div class="provider">
      <div>
        <img src="{% if provider.avatar %}/files/{{ provider.avatar }}{% else %}/images/avatar.svg{% endif %}" />
        <strong>{{ provider.name }}</strong>
      </div>
    </div>

    <form action="/app/appointments/new/{{ provider.id }}" method="POST">
      <input type="text" class="flatpickr" placeholder="Escolha uma data">

      <div id="appointments"></div>

      <a href="/app/logout" class="logout"> Sair</a>
    </form>
  </div>

  <script type="text/javascript">
    flatpickr('.flatpickr', {
      minDate: new Date(),
      dateFormat: 'd/m/Y',
      onChange: function (date) {
        fetch(`/app/appointments/{{ provider.id }}?date=${date[0].getTime()}`).then(function (response) {
          response.text().then(function (html) {
            document.getElementById('appointments').innerHTML = html
          })
        })
      }
    })
  </script>
{% endblock %}
